
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>About our Group</h1>
<p>This is the employee managment system.</p>


@section footersection
{
    @Html.ActionLink("Employees", "Index", "Employee")
}

